{% extends "home.html" %}
{% block title %}Confrimation Deletion{% endblock %}

{% block content %}
  <div style = 'text-align:center; margin-top:50px'>
    <h1>Delete The Task</h1>
    <h3>Are you sure you want to delete this task?</h3>
    <br>
    <h3>{{task.title}}</h3>
    </h4>{{task.description}}</h4>

    <form method = 'POST'>
      {% csrf_token %}
      <button type = 'submit' class="btn btn-danger mt-3">Yes, Delete</button>
      <a href="{% url 'task_list' %}" class="btn btn-secondary mt-3">Cancel</a>
    </form>
  </div>
{% endblock %}