{% extends 'home.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
    <div style = 'text-align:center; margin-top:50px'>
        <h1>Login Here</h1>
        <form method = 'POST'>
            {% csrf_token %}
                <div class = "form-floatformating mb-3">
                    <label>Username:</label>
                    <br>
                    <input type="text" name = 'username' placeholder = 'Enter your username' class = 'form-control' required>
                    <br>
                    <br>
                    <label>Password:</label>
                    <br>
                    <input type="password" name = 'password' placeholder = 'Enter your password' class = 'form-control' required>
                </div>
            <br><br>
            <button type = 'submit' {% url 'home' %} class = 'btn btn-success'>Login</button>
        </form>
        <br>
        <p>Don't have an account ?</p>
        <a href="{% url 'register' %}" class = 'btn btn-outline-primary'>Register</a>
    </div>
{% endblock %}