<!DOCTYPE html>
<html>
<head>
    <title>Register - TaskFlow</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="container" style="background-color: #b2b8b8;">

    <h1>Create Account</h1>

    <form method="POST">

        {% csrf_token %}
        
        <label>Username:</label>
        <input type="text" name="username" required>

        <br><br>

        <label>Password:</label>
        <input type="password" name="password" required>

        <br><br>

        <button class="btn btn-primary" type="submit">Register</button>

    </form>

    <p>
        Already have an account?
        <a href="{% url 'login' %}" class="btn btn-secondary" role="button">Login</a>
    </p>

</body>
</html>